body {
    margin: 0px;
}

#c-1 {
    color: white;
    background-color: #21022d;
    text-align: center;
    border: 3px solid #21022d;
}

#d-1 {
    background-color: #e2d8e7;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.e-1 {
    margin-left: 16px;
}

.f-1 {
    margin-top: 32px;
    margin-left: 64px;
}

.g-1 {
    margin-left: 64px;
}

.f-2{
    margin-left: 64px;
}


.f-3 {
    margin-left: 64px;
}


.f-4 {
    margin-left: 64px;
}

.f-5 {
    margin-left: 64px;
    margin-top: 32px;
}

.g-2 {
    margin-left: 64px;
}

.f-6 {
    margin-left: 64px;
}

.f-7 {
    margin-left: 64px;
}

.f-8 {
    margin-left: 64px;
}

.f-9 {
    margin-left: 64px;
    margin-top: 32px;
}

.g-3 {
    margin-left: 64px;
}

.f-10 {
    margin-left: 64px;
}

.f-11 {
    margin-left: 64px;
}

.f-12 {
    margin-left: 64px;
}

.f-13 {
    margin-left: 64px;
    margin-top: 32px;
}

.g-4 {
    margin-left: 64px;
}

.f-14 {
    margin-left: 64px;
}

.f-15 {
    margin-left: 64px;
}

.f-16 {
    margin-left: 64px;
}

.f-17 {
    margin-left: 64px;
    margin-top: 32px;
}

.g-5 {
    margin-left: 64px;
}

.f-18 {
    margin-left: 64px;
}

.f-19 {
    margin-left: 64px;
}

.f-20 {
    margin-left: 64px;
}

.f-21 {
    margin-left: 64px;
    margin-top: 32px;
}

.g-6 {
    margin-left: 64px;
}

.f-22 {
    margin-left: 64px;
}

.f-23 {
    margin-left: 64px;
}

.f-24 {
    margin-left: 64px;
}

.f-25 {
    text-align: center;
    margin-top: 64px;
}

.g-7 {
    margin-top: 32px;
    text-align: center;
}

#c-2 {
    color: white;
    background-color: #21022d;
    text-align: center;
    border: 3px solid #21022d;   
}